[Unit]
Description=Start i3screens manager
[Service]
Restart=on-failure
Type=simple
ExecStart=/usr/bin/python3 /home/YOURUSERNAME/i3screens/i3screens.py
Environment='PYTHONUNBUFFERED=1'
[Install]
WantedBy=default.target 
